.nav-dropdown-toggle{
    font-size: 18px;
}
.card-m{
    background-color: #e2e0e0;
    margin-top: 100px;
}
.col-md-8{
    height: 370px;
}
.card-header{
    width:100%;
    text-align: center;
}
.alert{
    text-align: center;
}

.background-with{
    background: #fff;
}



        #container{
            width:380px;
            margin:20px auto;
            padding:15px;
            background-color:#eee;
            border-radius: 15px;
        }



        #addVar{



            padding:5px;

            display:inline-block;

            background-color:#3A9668;

            color:#f1f1f1;

            border:1px solid #005;

            border-radius: 4px;

        }



        .removeVar{

            margin:auto;

            padding:5px;

            display:inline-block;

            background-color:#B02109;

            color:#f1f1f1;

            border:1px solid #005;

          border-radius: 4px;

        }



        #addVar:hover, .removeVar:hover{

            cursor: pointer;

        }



        .alignRight{

            text-align: right;

        }



        input, textarea{

            padding:5px;

            font-size: 16px;

        }


