.col-md-10{
   position: relative;
   right: 150px;
   top: -55px;
}
.vernagir{
    position: relative;
    left: 30px;
}
.vernagir1{
    position: relative;
    left: 75px;
}
.ml {
    margin-left: 40px;
    margin-top: 25px;
}
