body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
/* header section start */
header{
    position: fixed;
    background: linear-gradient(89.98deg, #143B57 0.01%, #1C6DA7 101.61%);
    width:100%;
    z-index: 1000000;
}
.nav_bar_color{
    position: fixed;
     background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
    width:100%;
    z-index: 1000000;
}

header>.container{

    padding-right:0 !important;
    padding-left:0 !important;
}
header li a{
    font-size:18px
}
.after-header{
    height: 76px;
}
.login_li{
    border-left:2px solid #FFF
}
.act:focus{
    border-bottom:1px solid white;
    /* display:inline-block !important; */
}
.user-account-header{
    display: none;
}
button{
    outline: none !important;
}
.hidden {
    display: none !important;
}

.btn-main{
    padding-left: 3rem;
    padding-right: 3rem;
    background: #143B57;
    color: #fff;
}
.btn-main:hover{
    color: #fff;
}
  /* media for header  login li start-------------------- */
  @media screen and (max-width:991px){
    .login_li{
        border-left:unset !important;
    }
    .login_li>a{
        padding:0 !important;
    }
    .reg li{
        padding:unset !important;
    }
}
@media (max-width:768px){
    .user-account-containet{
       margin: 0;
       padding: 0;
    }
    .user-account-header{
        display: unset;
        background: none !important;
    }
    .app-header{
        border: none;
        text-align: unset !important;
    }

}



@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url('https://fonts.googleapis.com/css?family=Raleway');

// variables
$base-color: cadetblue;
$base-font: 'Raleway', sans-serif;

body {
  font-family: $base-font;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lighten($base-color, 45%);
}

.wrapper{
  display: flex;
  width: 200px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:flex-start;
}
.wrapper_new{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:flex-start;
  width: 218px;
}
.js--image-preview_new{
  position: relative;
  overflow: hidden;
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
}

.box_for_logo{
  display: block;
  /* min-width: 300px; */
  /* height: 300px; */
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}


h1 {
  font-family: inherit;
  margin: 0 0 .75em 0;
  color: desaturate($base-color, 15%);
  text-align: center;
}

.box {
  display: block;
  min-width: 300px;
  height: 300px;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: $base-color;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
  &:hover {
    background-color: lighten($base-color, 10%);
  }
  & input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  & label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
    &::after {
      content: 'add'; 
      font-family: 'Material Icons';
      position: absolute;
      font-size: 2.5rem;
      color: rgba(230, 230, 230, 1);
      top: calc(50% - 2.5rem);
      left: calc(50% - 1.25rem);
      z-index: 0;
    }
    & span {
      display: inline-block;
      width: 50%;
      height: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
      text-align: center;
      &:hover i.material-icons {
        color: lightgray;        
      }
    }
  }
}

  &::after {
    content: "photo_size_select_actual"; 
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: rgba(230, 230, 230, 1);
    top: calc(50% - 3rem);
    left: calc(50% - 2.25rem);
    z-index: 0;
  }
  &.js--no-default::after {
    display: none;
  }
  &:nth-child(2) {
    background-image: url('http://bastianandre.at/giphy.gif');
  }
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: transparentize($base-color, .8);
  border-radius: 100%;
  transform:scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}

.flex_method{
display: flex;
justify-content:flex-end;
}