.ml{
    margin-left: 100px;
    margin-top: 40px
}
.aaaa{
    cursor: pointer;
}
.big_block{
    margin-left: -110px;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-evenly;
}
.col{
  width: 100%;
 
  
}
.form{
  height: 20em;
}
.card{
  width: 320px;
  margin-bottom: -20.5rem;
}