body{
    background: #E5E5E5 !important;
}
.right-backgroud{
    background: #fff;
    position: absolute;
    z-index: -1;
    height: -webkit-fill-available;
}

.flex-item-left{
   flex: 20%;

}

.flex-item-left h4{
    color: rgba(20, 59, 87, 1);
}
.flex-item-right h4{
    color: rgba(20, 59, 87, 1);

}
.flex-item-right{
   flex: 70%;
   background: #E5E5E5;

}


.sec h4{
    color: #143B57;
}
.cont{
    height: 200px;
}

/* -------------- 17 --------------------------- */

tr,th{
    color: #143B57;
    padding: 30px;
}
.card{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);

}
.card button{
    font-size: 15px;
    background-color: rgba(20, 59, 87, 1);
}

.a_1{
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.a_2{
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.plus{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #8BB0BA;
    color: #143B57;
    cursor: pointer;
    line-height: 35px;
    font-size: 30px;

}
#balance{
    width: 300px;
    height: 100px;
    border: solid 1px #C4C4C4;
    border-radius: 15px;
    margin-left: 560px;
    background: white;
    text-align: center;
    display: none;
}
#card{
    width: 300px;
    margin-left: 560px;
    display: none;
}
/* ----------------------------------------------------------- */
@media only screen and (max-width: 425px) {
    .flex-item-right{
        padding: 5px !important;
    }
}
/* ---------------- 15 -------------------- */
@media only screen and (max-width: 520px) {
    .flex-item-right{
        padding: 0;
    }
    .reg{
        width: 100% !important;
    }

    /* ----------------- 17 ----------------------- */
    th{
        font-size: 8px;
    }
    .a_1 div{
        font-size: 30px;
    }
    .a_2 div{
        font-size: 30px;
    }




}
